body{
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.801);
}

table {
    margin: 0 auto;
    width: 600px;
    border-collapse: collapse;
    background-color: white;
 }

th, td {
    background-color: white;
    color: black;
    text-align: center;
    border: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
 }

th{
    background-color: #f0f0f0;
    font-weight: bold;
}

.clases{
    background-color: blue;
    
}

.texto_clase{
    color: black;
    
}

.titulo_clase{
    -webkit-text-stroke: 0.2px black;
        color: rgb(255, 82, 82);
        text-shadow:
       3px 3px 0 #00000083,
     -1px -1px 0 #00000083,  
      1px -1px 0 #00000083,
      -1px 1px 0 #00000083,
       1px 1px 0 #00000083;
    text-align: center;
}


.cuadro{
    background-color: white;
    border-radius: 15px;
}

.conetedor-boton{
    display: flex;
    justify-content: flex-end;
    padding-right: 1000px;
}

.boton_clase{
    height: 50px;
    width: 100px;
    background: rgb(70, 70, 241);
    border: 0px;
    border-radius: 10px;
    color:white;
}

.boton_clase:hover{
    background-color: darkblue;
}

.nombre-c{
    text-align: center;
    color: black;
    font: 150% sans-serif;
}