<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Clase</title>
    <link rel="stylesheet" href="css\style.css">
</head>
<body>
    <div class="bloquec">
        <h1 class="titulo_clase">Actualizar Clase</h2>
        <form method="post">
            {% csrf_token %}
        <div class="nombre-c">
            <label for="nombre"  class="nlabel">Nombre: </label>
            <input type="text" id="nombre" name="nombre" value="{{ clase.nombre }}" required>
        </div>
        <div class="nombre-c">
            <label for="horario"  class="nlabel">Horario: </label>
            <input type="datetime" id="horario" name="horario" class="campo" required value="{{ clase.horario }}">
        </div>
        <div class="nombre-c">
            <label for="descripcion" class="nlabel">Descripción: </label>
            <textarea class="form-control" id="descripcion" class="campo" name="descripcion" rows="4" required placeholder="Escribe la descripción">{{ clase.descripcion }}</textarea>
        </div>
        <div class="conetedor-boton">
            <button type="submit" class="boton_clase">Actualizar clase</button>
        </div>
        </form>
    </div>
</body>
</html>