<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar profesor</title>
</head>
<body>
    <h1 class="titulo_clase">¿Seguro que deseas eliminar al profesor/a "{{ profesor.nombreP }}"</h1>
    <form method="POST" action="{% url 'eliminar_prof' Profe.id %}">
        {% csrf_token %}
        <div>
            <button type="submit" >Sí</button>
            <a href="{% url 'listar_prof' %}"><button type="button" >No</button></a>
        </div>
    </form>
</body>
</html>