<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Clase</title>
</head>
<body>
    <h1 class="titulo_clase">¿Seguro que deseas eliminar la clase "{{ clase.nombre }}"?</h1>
    <form method="POST" action="{% url 'eliminar_clase' clase.id %}">
        {% csrf_token %}
        <div>
            <button type="submit">Sí</button>
            <a href="{% url 'listar_clases' %}"><button type="button">No</button></a>
        </div>
    </form>
</body>
</html>